.share_container {
    margin-top: 100px;
    padding: 100px;
}
.share_container h1 {
    font-weight: 800;
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
}
.share_container p {
    font-size: 25px;
    margin-top: 50px;
    color: #6a7583;
    font-weight: 300;
}
.share_buttons {
    margin-top: 50px;
}
.share_buttons__twitter{
    background-color: #1da1f2;
    color: white;
    padding: 20px 50px;
    border-radius: 6px;
    margin-right: 30px;
}

.share_buttons__facebook{
    background-color: #4267b2;
    color: white;
    padding: 20px 50px;
    border-radius: 6px;
}
.share_buttons__twitter:hover, .share_buttons__facebook:hover {
    color: white;
    text-decoration: none;
}
.share_buttons__twitter:focus, .share_buttons__facebook:focus {
    color: white;
    text-decoration: none;
}
@media (min-width: 1024px) {
    .share_container {
        width: 800px;
        margin: 100px auto 0 auto;
    }
}