.why_container {
    margin-top: 100px;
    padding: 100px;
}
.why_container h1 {
    font-weight: 800;
    text-align: left;
    font-size: 30px;
}
.why_container p {
    font-size: 25px;
    margin-top: 50px;
    color: #6a7583;
    font-weight: 300;
}
.find_btn {
    background-color: #2CA86A;
    color: white;
    border: none;
    padding: 25px 40px;
    font-size: 20px;
    margin-top: 20px;
    transition-duration: 350ms;
    transition-property: background, box-shadow, color;
    transition-timing-function: ease-in-out;
}
.find_btn:hover {
    background-color: #2CA86A;
    color: white;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.3), 0 3px 8px rgba(19,49,69,0.3);
    text-decoration: none;
}
@media (min-width: 1024px) {
    .why_container {
        width: 800px;
        margin: 100px auto 0 auto;
    }
}
@media (max-width: 768px) {
    .why_container {
        padding: 20px;
        margin-top: 0;
    }
}