.footer {
    background-color: #2CA86A;
    color: white;
    padding: 40px 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color: white;
    text-decoration: underline;
}
.text {
    margin-left: 20px;
}
.links {
    color: white;
    margin-left: 40px;
    text-decoration: none;
}
.links:hover {
    color: white;
}
@media (max-width: 768px) {
    .footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 40px 10px;
    }
    .text {
        margin-left: 0;
        margin-top: 2px;
    }
    .links {
        margin-left: 0;
    }
}