<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>govote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="The 2019 General Elections are almost here and it’s important we all get registered to vote.">
    <meta name="keywords" content="vote,elections,nigeria">
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="govote - Find PVC Collection Areas">
    <meta name="twitter:description" content="The 2019 General Elections are almost here and it’s important we all get registered to vote.">
    <meta name="twitter:image" content="https://govote.org.ng/assets/art.png">

    <meta itemprop="name" content="govote - Find PVC Collection Areas">
    <meta itemprop="description" content="The 2019 General Elections are almost here and it’s important we all get registered to vote.">
    <meta itemprop="image" content="https://govote.org.ng/assets/art.png">
    <!--Facebook/OG data-->

    <meta property="og:title" content="govote - Find PVC Collection Areas">
    <meta property="og:url" content="https://worklogs.co">
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="https://govote.org.ng/assets/art.png">
    <meta property="og:description" content="The 2019 General Elections are almost here and it’s important we all get registered to vote.">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
    <% } %>
    <% for (var chunk of webpack.chunks) { %>
    <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
    <% for (var file of chunk.files) { %>
    <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% } else if (file.match(/manifest\.json$/)) { %>
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
    <% } %>
    <% } %>
    <% } %>
    <script src="https://buttons.github.io/buttons.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113691933-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113691933-1');
    </script>

</head>
<body>
<%= htmlWebpackPlugin.options.ssr({
url: '/'
}) %>
<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
<script>
  window.fetch || document.write("<script src='<%= htmlWebpackPlugin.files.chunks['polyfills'].entry %>'><\/script>")
</script>
</body>
</html>